<div class="mt-10">
    <div class="m-1 md:m-5  ">
        <div class=" w-full prose prose-lg max-w-none dark:prose-invert text-gray-50 text-md mb-5 text-wrap ">
            <slot/>
        </div>
    </div>
</div>