---
import { titleToSlug } from "../../utils/titleToSlug.ts";
import { getCollection } from "astro:content"; // retrieves a list of content collection
import type { CollectionEntry } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Main from "../../components/mainBar/Main.astro"

export const getStaticPaths = async () => {
  const allPosts: CollectionEntry<"blogs">[] = await getCollection("blogs");
  return allPosts.map((post) => ({
    params: { slug: titleToSlug(post.data.title) },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"blogs">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
    <Main>
        <Content />
    </Main>
</Layout>
